@import "../../../styles/scss-variables.scss";

.arrows {
  &-custom {
    transition: background-color 0.3s ease;
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.08);
    background-color: var(--secondary-ligth-gray);
    border-radius: 50%;
    display: block;
    border: none;
    height: 46px;
    width: 46px;
    padding: 0;

    &:hover {
      background-color: var(--primary-white);
    }

    &-next,
    &-prev {
      @media screen and (max-width: $bp-tablet) {
        bottom: -40px;
        right: 0;
      }
    }

    &-prev {
      @media screen and (max-width: $bp-tablet) {
        left: 54px;
      }
    }

    &-next {
      @media screen and (max-width: $bp-tablet) {
        left: 0px;
      }
    }
  }

  &-icon {
    position: relative;
    top: 50%;
    left: 50%;
  }

  &-wrapper .icon {
    display: inline;
  }
}
