@import "../../../styles/scss-variables.scss";

.footer {
  background-color: var(--primary-black);
  padding: 0px;
  width: 100%;
  padding: 80px 0 24px 0;
  position: relative;
  bottom: 0;

  &-list {
    font-family: "Poppins";
    list-style-type: none;
    display: grid;

    &-row {
      justify-content: space-between;
      display: flex;

      @media screen and (max-width: $bp-laptop) {
        display: flex;
      }

      @media screen and (max-width: $bp-mobile) {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
      }
    }

    &-col {
      width: 18%;

      @media screen and (max-width: $bp-laptop) {
        width: 50%;
        align-items: center;
      }

      @media screen and (max-width: $bp-mobile) {
        width: 100%;
        align-items: center;
      }
    }

    &-center {
      justify-content: center;
      display: flex;

      @media screen and (max-width: $bp-laptop) {
        justify-content: start;
      }
    }

    &-logo {
      color: var(--primary-black);
      font-family: "Inter";
      letter-spacing: 3px;
      font-weight: 700;
      font-size: 24px;
      line-height: 1;
      padding-bottom: 24px;
    }

    &-subscribe,
    &-title {
      color: var(--secondary-white);
      font-weight: 500;
      font-size: 20px;
      line-height: 1.4;
      margin-bottom: 8px;
    }

    &-discount,
    &-link,
    &-text {
      color: var(--secondary-white);
      font-weight: 400;
      font-size: 16px;
      line-height: 1.5;
      padding-top: 16px;
    }

    &-small {
      color: var(--secondary-white);
      opacity: 0.7;
      font-weight: 500;
      font-size: 12px;
      line-height: 1.5;
      padding: 16px 0px 8px;
    }

    &-email {
      border: 1.5px solid var(--secondary-white);
      border-radius: 4px 0 0 4px;
      margin-top: 16px;

      @media screen and (max-width: $bp-mobile) {
        margin-bottom: 40px;
      }

      input {
        background-color: transparent;
        border: 1.5px 1.5px 0 1.5px solid var(--secondary-white);
        padding: 12px 16px;
        font-weight: 400;
        font-size: 16px;
        min-width: 100px;

        &:focus,
        &::placeholder {
          color: var(--secondary-white);
          background-color: transparent;
          opacity: 0.4;
        }
      }
    }

    &-app {
      display: flex;
      position: relative;
      flex-direction: column;
      align-items: end;
      justify-content: center;
      padding: 5px 5px 5px 88px;
    }

    &-img {
      position: absolute;
      padding: 2px 8px 2px 0;
    }

    &-social {
      display: inline-flex;
      padding-right: min(24px, 8%);
      margin-top: 24px;
    }

    &-link:last-child {
      @media screen and (max-width: $bp-laptop) {
        margin-bottom: 50px;
      }

      @media screen and (max-width: $bp-mobile) {
        margin-bottom: 40px;
      }
    }
  }

  &-copyright {
    color: var(--additional-gray);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    text-align: center;
    margin-top: 76px;

    p {
      display: flex;
      margin: 0 auto;

      svg {
        margin-right: 6px;
        position: relative;
        top: 2px;
      }
    }
  }

  a {
    color: var(--secondary-white);
    text-decoration: none;

    &:hover {
      color: var(--secondary-gray);
    }
  }

  .email-btn {
    background-color: transparent;
    color: var(--secondary-white);
    padding: 12px 15px;
    border-radius: 0px 4px 4px 0px;
  }

  .form-control {
    // Біле тло при автозаповненні не розумію звідки воно приходить
    background-color: transparent;
    color: var(--secondary-white);

    &.is-invalid {
      background-image: none;
    }

    &:focus {
      box-shadow: none;
      background-color: var(--secondary-gray);
    }
  }

  .invalid-feadback {
    position: absolute;
    font-size: 10px;
    color: red;
    margin-top: 55px;
  }
}
