.registration {
  h1 {
    font-family: "Inter";
    font-weight: 500;
    font-size: 36px;
    line-height: 0.83;
    letter-spacing: 4px;
    padding-bottom: 24px;
  }

  h6 {
    padding-bottom: 48px;
  }

  & .form-control {
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    padding: 0px 0px 8px 0px;
    opacity: 0.4;
  }

  &-create-button {
    display: flex;
    flex-direction: column;
    padding-top: 40px;

    &-login-button {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 40px;

      & .botn-link {
        color: var(--button-pink);
        text-decoration: none;

        &:hover {
          color: var(--button-hover-pink);
        }
      }
    }
  }
}
