@import "../../../styles/scss-variables.scss";

.product {
  display: flex;
  flex-direction: row;
  margin-bottom: 60px;

  @media screen and (max-width: $bp-laptop) {
    flex-direction: column;
  }

  &-list {
    display: grid;
    grid-template-columns: repeat(1, 0fr);

    @media screen and (max-width: $bp-laptop) {
      grid-template-columns: 1fr;
    }
  }

  & .nav {
    padding-top: 32px;
    border-right: 0.5px solid var(--border-gray);
    height: fit-content;

    @media screen and (max-width: $bp-laptop) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 32px;
      border: none;
    }

    @media screen and (max-width: $bp-mobile) {
      column-gap: 10px;
    }

    &-link {
      font-family: "Poppins", sans-serif;
      color: var(--primary-black);
      font-size: 16px;
      line-height: 1.5;
      font-weight: 400;
      padding: 8px 51px 8px 0px;

      @media screen and (max-width: $bp-laptop) {
        text-align: center;
      }

      @media screen and (max-width: $bp-tablet) {
        font-size: 12px;
        padding-left: 20px;
      }

      @media screen and (max-width: $bp-mobile) {
        padding: 5px 15px;
      }

      &:last-child {
        padding-bottom: 0px;
      }
    }

    &-link:hover {
      color: var(--button-hover);
    }
  }

  & .dropdown {
    width: 100%;

    &-toggle {
      height: calc(1em + 1lh);

      &::after {
        content: url("../../../assets/svg/Icon/DropDownBlack.svg");
        position: absolute;
        right: 0;
        border: 0;

        @media screen and (max-width: $bp-laptop) {
          right: 50px;
        }

        @media screen and (max-width: $bp-mobile) {
          right: -10px;
          top: 0;
        }
      }
    }
  }
}

.product-advertisement {
  margin: 40px 0px 0px 45px;
  width: 100%;

  @media screen and (max-width: $bp-laptop) {
    margin: 0;
  }

  & .advertisement-img {
    position: relative;
    right: 0px;
    top: 16px;
    bottom: -16px;
    width: 100%;
    height: auto;
    align-items: center;
  }

  // & .advertisement-header {
  //   margin-bottom: 0px;
  // }
}

.slick-dots {
  position: absolute;
  bottom: 11px;
  color: beige;
  right: 10%;

  @media screen and (max-width: $bp-laptop) {
    right: 0;
  }

  @media screen and (max-width: $bp-tablet) {
    bottom: 5px;
  }

  & li button:before {
    content: url("../../../assets/svg/Icon/Ellipse white.svg");
    background-repeat: no-repeat;
    opacity: 0.5;
  }

  & li.slick-active button:before {
    content: url("../../../assets/svg/Icon/Ellipse-red.svg");
    opacity: 1;
  }
}

.slick-slide {
  p {
    margin: 0;
  }
}
