.botn {
  padding: 16px 48px;
  border-radius: 4px;
  line-height: 1.5;
  font-size: 16px;

  &-orange {
    background-color: var(--button-pink);
    border: 1px solid var(--button-pink);
    color: var(--secondary-white);

    &:hover {
      background-color: var(--button-hover-pink);
      border: 1px solid var(--button-hover-pink);
    }
  }

  &-transparent {
    background-color: transparent;
    border: 1px solid var(--secondary-black);
    color: var(--primary-black);

    &:hover {
      color: var(--secondary-gray);
    }
  }
}

.small {
  padding: 10px 48px;
}
