.product {
  display: flex;
  flex-direction: row;
  margin-bottom: 60px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(1, 0fr);

  @media screen and (min-width: --bp-desktop) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.nav {
  padding-top: 32px;
  border-right: 0.5px solid var(--border-gray);
  height: fit-content;

  &-link {
    font-family: "Poppins", sans-serif;
    color: var(--primary-black);
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    padding: 8px 51px 8px 0px;
  }

  &-link:hover {
    color: var(--button-hover);
  }

  .dropdown {
    width: 100%;
  }

  .dropdown-toggle {
    height: calc(1em + 1lh);

    &::after {
      content: url("../../assets/svg/Icon/DropDown.svg");
      position: absolute;
      right: 0;
      top: 5px;
      transform: rotate(270deg);
      color: var(--primary-black);
    }
  }
}

.advertisement-section {
  margin: 40px 0px 0px 45px;
  width: 100%;

  @media screen and (max-width: --bp-desktop) {
    position: absolute;
  }
}

.slick-dots {
  position: absolute;
  bottom: 11px;
  color: beige;
  right: 10%;

  & li button:before {
    content: url("../../assets/svg/Icon/Ellipse white.svg");
    background-repeat: no-repeat;
    opacity: 0.5;
  }

  & li.slick-active button:before {
    content: url("../../assets/svg/Icon/Ellipse-red.svg");
    opacity: 1;
  }
}
