:root{
    /*colors*/
    --primary-black: rgba(0, 0, 0, 1);
    --secondary-black: rgba(0, 0, 0, 0.5);
    --primary-gray: rgba(54, 55, 56, 1);
    --secondary-gray: rgba(125, 129, 132, 1);
    --secondary-ligth-gray: rgba(245, 245, 245, 1);
    --border-gray: rgba(0, 0, 0, 0.3);
    --additional-gray: rgba(249, 249, 249, 0.2);
    --primary-white: rgba(255, 255, 255, 1);
    --secondary-white: rgba(250, 250, 250, 1);
    --secondary-ligth-beige: rgba(254, 250, 241, 1);
    --button-green: rgba(0, 255, 102, 1);
    --button-hover-pink: rgba(224, 117, 117, 1);
    --button-hover: rgba(160, 188, 224, 1);
    --button-pink: rgba(219, 68, 68, 1);
}
