@import "../../styles/scss-variables.scss";

.sales-block {
  display: flex;
  justify-content: start;
  margin-top: 50px;

  @media screen and (max-width: $bp-laptop) {
    margin: 10px 0px 40px;
  }
}

.countdown {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr;
  margin: 0px;
  gap: 38px;

  @media screen and (max-width: $bp-mobile) {
    gap: 18px;
  }

  &-block {
    display: grid;
    grid-template-columns: 1fr;
    width: 50px;
  }

  &-title {
    font-family: "Poppins";
    font-size: 12px;
    font-weight: 500;
    line-height: 1.5;
    padding-bottom: 4px;
    margin-bottom: 0;
    width: fit-content;
  }

  &-timer {
    display: flex;
    flex-direction: row;
    font-family: "Inter";
    font-size: 32px;
    font-weight: 700;
    line-height: 0.93;
    letter-spacing: 0.04em;
    list-style-type: none;

    @media screen and (max-width: $bp-mobile) {
      font-size: 24px;
    }

    &-count {
      width: 100%;
    }

    &-dots {
      color: var(--button-pink);
      margin: 0px 17px;
      position: relative;
      left: 0;
    }
  }
}
