.footer {
  background-color: var(--primary-black);
  padding: 0px;
  width: 100%;
  padding: 80px 0 124px 0;
  position: relative;
  bottom: 0;

  &-list {
    font-family: "Poppins";
    display: grid;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    list-style-type: none;

    &-logo {
      color: var(--primary-black);
      font-family: "Inter";
      letter-spacing: 3px;
      font-weight: 700;
      font-size: 24px;
      line-height: 1;
      padding-bottom: 24px;
    }

    &-subscribe,
    &-title {
      color: var(--secondary-white);
      font-weight: 500;
      font-size: 20px;
      line-height: 1.4;
      margin-bottom: 8px;
    }

    &-discount,
    &-link,
    &-text {
      color: var(--secondary-white);
      font-weight: 400;
      font-size: 16px;
      line-height: 1.5;
      padding-top: 16px;
    }

    &-small {
      color: var(--secondary-white);
      font-weight: 500;
      font-size: 12px;
      line-height: 1.5;
      padding-top: 16px;
    }
  }

  &-copyright {
    color: var(--primary-white);
    display: flex;
    flex-direction: row;
  }

  a {
    color: var(--secondary-white);
    text-decoration: none;

    &:hover {
      color: var(--secondary-gray);
    }
  }
}
