.footer {
  background-color: var(--primary-black);
  padding: 0px;
  width: 100%;
  padding: 80px 0 24px 0;
  position: relative;
  bottom: 0;

  &-list {
    font-family: "Poppins";
    display: grid;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    list-style-type: none;

    &-logo {
      color: var(--primary-black);
      font-family: "Inter";
      letter-spacing: 3px;
      font-weight: 700;
      font-size: 24px;
      line-height: 1;
      padding-bottom: 24px;
    }

    &-subscribe,
    &-title {
      color: var(--secondary-white);
      font-weight: 500;
      font-size: 20px;
      line-height: 1.4;
      margin-bottom: 8px;
    }

    &-discount,
    &-link,
    &-text {
      color: var(--secondary-white);
      font-weight: 400;
      font-size: 16px;
      line-height: 1.5;
      padding-top: 16px;
    }

    &-small {
      color: var(--secondary-white);
      opacity: 0.7;
      font-weight: 500;
      font-size: 12px;
      line-height: 1.5;
      padding: 16px 0px 8px;
    }

    &-email {
      border: 1.5px solid var(--secondary-white);
      border-radius: 4px 0 0 4px;
      margin-top: 16px;

      input {
        background-color: transparent;
        border: 1.5px 1.5px 0 1.5px solid var(--secondary-white);
        padding: 12px 16px;
        font-weight: 400;
        font-size: 16px;
        // min-width: min-content;
        // max-width: max-content;
        width: auto;

        &:focus,
        &::placeholder {
          color: var(--secondary-white);
          background-color: transparent;
          opacity: 0.4;
        }
      }
    }

    &-app {
      display: flex;
      position: relative;
      flex-direction: column;
      align-items: end;
      justify-content: center;
      padding: 5px 5px 5px 88px;
    }

    &-img {
      position: absolute;
      padding: 2px 8px 2px 0;
    }

    &-social {
      display: inline-flex;
      padding-right: min(24px, 8%);
      margin-top: 24px;
    }

    // &-social {
    //   display: inline-flex;
    //   padding-right: min(24px, 8%);
    // }
  }

  &-copyright {
    color: var(--additional-gray);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    text-align: center;
    margin-top: 76px;

    p {
      display: flex;
      margin: 0 auto;

      svg {
        margin-right: 6px;
        position: relative;
        top: 2px;
      }
    }
  }

  a {
    color: var(--secondary-white);
    text-decoration: none;

    &:hover {
      color: var(--secondary-gray);
      background-color: var(--secondary-gray);
    }
  }

  .email-btn {
    background-color: transparent;
    color: var(--secondary-white);
    padding: 12px 15px;
    border-radius: 0px 4px 4px 0px;
  }
}
