@import "../../../styles/scss-variables.scss";

.allproducts {
  position: relative;

  h2 {
    padding: 20px 0 60px;
    font-family: "Inter";
    font-weight: 600;
    font-size: 36px;
    line-height: 1.33;
    letter-spacing: 4%;
    color: var(--primary-black);
  }

  & .slick-slide {
    // width: auto;
    margin-right: -17px;
    overflow: hidden;
  }

  & .slick-list {
    padding: 0px;
    // overflow: hidden;
  }

  & .flash-slider {
    width: 100%;
    margin-right: 0px;
  }

  & .carusel-wrapper {
    padding-right: 30px;
  }

  & .product-card,
  & .category-slider .carousel-wrapper {
    width: 250px;
    padding-right: 0px;
  }

  & button.slick-arrow {
    display: none;
  }

  & .arrows-custom-next,
  & .arrows-custom-prev {
    position: absolute;
    top: 70px;
  }

  & .arrows-custom-prev {
    right: 0px;

    @media screen and (max-width: $bp-tablet) {
      left: 76px;
    }
  }

  & .arrows-custom-next {
    right: 58px;

    @media screen and (max-width: $bp-tablet) {
      left: 10px;
    }
  }
}
